<h1>Welcome to Recipes</h1>

<p> Please <a href="/recipe">Click Recipe</a> to continue.</p>
<form action="/recipe" method="post">
  Name: <input type="text" name="name" id="name">
  Ingredients: <input type="text" name="ingredients" id="ingredients">
  Cook Time <input type="text" name="cook_time" id="cook_time">
  <input type="submit" id="submit" >
</form>
